*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.swiper {
    width: 100%;
    height: 100%;
  }
  
.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .css-1j2suhe-MuiInputBase-input-MuiFilledInput-input {
    background: #333 !important;
} */

/* .css-1ezd7y7-MuiInputBase-root-MuiFilledInput-root {
    background-color: #333 !important;
} */
.css-1rwyr3v-MuiFormLabel-root-MuiInputLabel-root {
    color: #263238;
}

.css-1j2suhe-MuiInputBase-input-MuiFilledInput-input{
    color: #263238;
}

.css-cr1b3a-MuiInputBase-input-MuiFilledInput-input{
    color: #263238;
}
